.landing-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    min-height: 70px;
    max-height: 85px;
  	background-color: #384452;
}

.left-side {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-logo-parent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.header-logo-image {
	max-height: 48px;
	padding-right: 18px;
}

.header-logo-text {
	font-family: Lato;
	font-weight: 700;
	color: white;
	font-size: 55px;
	line-height: 0px;
	padding-top: 7px;
}

.right-side {
}

.language-select {
	padding: 10px;
	margin: 8px;
	border-color: #2b3744;
	border-radius: 6px;
	border-width: 3px;
	font-family: Lato;
	font-size: 20px;
	color: white;
	background-color: #384452;
}