@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

.landing-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    min-height: 70px;
    max-height: 110px;
  	background-color: #384452;
}

.header-logo-and-text {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.header-logo {
	max-height: 55px;
	padding-right: 18px;
}

.header-text {
	font-family: Roboto;
	font-weight: 100;
	color: white;
	font-size: 62px;
	line-height: 0px;
	padding-top: 7px;
}

.language-select {
	padding: 10px;
	margin: 8px;
	border-radius: 4px;
	font-size: 18px;
	color: white;
	background-color: #384452;
	border-color: #384452;
}