.landing-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  	height: 150px;
  	padding: 20px;
  	background-color: #48c201;
}

.header-logo {
	height: 100px;
	max-width: 100%;
	padding: 20px;
}

.language-select {
	padding: 10px;
	margin: 8px;
	border-radius: 4px;
	font-size: 18px;
}