@charset "UTF-8";

@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-rioni-arial/css/bpg-rioni-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/arial-geo/css/arial-geo.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani/css/bpg-mrgvlovani.min.css");

.landing-body {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.heading-container {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 40px;
}

.heading-title {
	color: white;
}

.heading-container p {
	color: #c6c6c6;
}