@charset "UTF-8";

@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-rioni-arial/css/bpg-rioni-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-ingiri-arial/css/bpg-ingiri-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");

.landing-body {
	color: #f2f2f2;
	margin-top: 30px;
}

.heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	text-align: center;
}

.heading {
	font-family: "BPG Rioni Arial", "Lato";
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 0px;
}

.heading-container p {
	font-family: system-ui, "BPG Rioni Arial";
	font-size: 18px;
	max-width: 800px;
	color: #c6c6c6;
}