.landing-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	font-family: Roboto, "BPG Mrgvlovani";
	margin-top: 150px;
	margin-bottom: 50px;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-col {
	display: flex;
	flex-direction: column;
}

.footer-col > div {
	margin-bottom: 4px;
}

.footer-logo {
	margin: 17px;
	border-radius: 10px;
	width: 60px;
	height: auto;
}

.footer-link, .footer-link:visited, .footer-link:focus {
	font-family: Roboto;
	color: #c6c6c6;
}

.footer-link:hover, .footer-link:active {
	color: white;
	text-decoration: none;
}