@charset "UTF-8";

.landing-page {
  margin: 0;
  padding: 0;
  background-color: #384452;
  font-family: "Lato", system-ui;/*, "ALK Rounded Nusx Med", "BPG Phone Sans Bold";*/
  /*background-color: #48c201;*/
}